MYSQL_PORT=3306
REDIS_PORT=6379
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
MILVUS_MINIO_API_PORT=9002
MILVUS_MINIO_CONSOLE_PORT=9003
MILVUS_PORT=19530
MILVUS_METRICS_PORT=29091

BACKEND_PORT=18081
FRONTEND_PORT=15173
RECOMMEND_PORT=18101

// 阿里百炼的api-key
DASHSCOPE_API_KEY=
